@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@300&display=swap');

/*----- Classi comuni ----*/
:root {
--skew: 0deg;
--antiskew: -10deg;
--text: #fff;
--textinverted: #eee;
--bordercolors: #012c5c;
--bkgimage: url(https://res.cloudinary.com/simonemanini/image/upload/v1640540568/Flexystyles/darkside_bsnwbe.jpg);
--bkgdark: #eee;
--bkgmedium: #e2047c;
--signalcolor: #e2047c;
--signaloff: #666;

--timerwidth:2.5em;
--timerpadding: 0 .5vw;
--pointswidth:1.5em;
--pointspadding: 0 .5vw;
--momentwidth:1.7em;
--labelsmargin: .1em;
}

html, body {margin:0; padding:0;}
em {font-style:normal;}
.box, div {box-sizing: border-box; display:flex; align-items:center; height:100%;}
.container {position:relative; box-sizing: border-box; height:auto; float:left; clear:both; width:auto; display:grid; column-gap: 1vw; background:#002c5c; color:var(--text); border-left:solid 2vw var(--bordercolors); padding:.3vw; font-family: 'Bebas Neue', sans-serif;
transform:skew(var(--skew));}

.boxtimer {padding:var(--timerpadding); float:left; background:var(--bkgmedium);}
.boxpoints {padding:var(--pointspadding); float:left;background:var(--bkgmedium); font-weight:bold;}
.boxovertimeon {background:var(--signalcolor);}

.sgrlogo {background-size: contain !important;}


/*---- TENNIS --------*/
.containertennis {grid-template: auto / auto; column-gap:0; font-size: 5.5vw;}
.containertennis .box {justify-content:center;}
.containertennis .boxteams {justify-content:flex-start;}
/* posizioni set */
.containertennis .boxoff {border:0; padding:0;}
.containertennis .boxon {border-left: solid 2px var(--linee);}

.containertennis #set_1_points_1 {grid-column:5/6; grid-row:2/3;}
.containertennis #set_1_points_2 {grid-column:5/6; grid-row:3/4;}
.containertennis #set_2_points_1 {grid-column:6/7; grid-row:2/3;}
.containertennis #set_2_points_2 {grid-column:6/7; grid-row:3/4;}
.containertennis #set_3_points_1 {grid-column:7/8; grid-row:2/3;}
.containertennis #set_3_points_2 {grid-column:7/8; grid-row:3/4;}
.containertennis #set_4_points_1 {grid-column:8/9; grid-row:2/3;}
.containertennis #set_4_points_2 {grid-column:8/9; grid-row:3/4;}
.containertennis #set_5_points_1 {grid-column:9/10; grid-row:2/3;}
.containertennis #set_5_points_2 {grid-column:9/10; grid-row:3/4;}


.containertennis .label {font-size:.6em; justify-content:center;}
.containertennis .labelgames {font-size:.01em; color:transparent;}
.containertennis .labelgames:before {content:"G"; font-size:60em; color:white;}
.containertennis .boxservice {min-width:3vw;}
.containertennis .boxservice .okservice {width:.4em; height:.5em; background:var(--signalcolor); clip-path: polygon(50% 0, 100% 0%, 100% 100%, 50% 100%, 0% 50%);}

.containertennis .boxpoints {min-width:var(--pointswidth);}
.containertennis .boxset, 
.containertennis .boxgames {padding: 0 .1em; border-right-style: solid; border-right-width: .05em; border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #555, rgba(0, 0, 0, 0) ) 1 100%; min-width:1em;}
.containertennis .boxgames {background: var(--bkgmedium); border-left-style: solid; border-left-width: .05em; border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #252726, rgba(0, 0, 0, 0) ) 1 100%;}
.containertennis .boxoff {display:none;}


